.mainbody {

    margin-bottom: 30px;
}

/* Forms  */

/* .task-update {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    border: solid;
    border-radius: 2rem;
    background-color: lightseagreen;
    padding: 1rem;
} */

/* .input-style {
    width: 80%;
} */