.mainbody {

    margin-bottom: 30px;
}

/* Forms  */

.update-form-style {
    width: 498px;
    margin: 0 auto;
    margin-top: 1rem;
    border: solid;
    border-radius: 1px;
    border-radius: .5rem;
    padding: 16px;
}

.input-style {
    width: 80%;
    
}

.text-area-display {
    white-space: pre-wrap;
    margin-left: 15px;
}

.user-name-title {
    margin-left: 20px;
}