.logo {
  height: 70px;
}
.wholeheader {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background-color: lightseagreen;
  z-index: 1;
  width: 100%;
}
.navigation {
  display: inline-flex;
  justify-content: flex-end;
  padding: 20px;
  width:60%;
}
@media (max-width: 990px) {
  .navigation {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    font-size: medium;
    text-align: right;
    width: fit-content;
  }
  .header-brand {
    display:none
  }
  .logo {
    padding-top:10px;
  }
}

.header-brand {
  font-size: 50px;
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: white;
  line-height: 1.65;
}
a {
  text-decoration: none;
}

.loggedout {
  display: inline-flex;
  flex-direction: row-reverse;
}

.link {
  margin-left: 20px;
  margin-right: 20px;
}
