.logo {
  height: 70px;
}
.wholeheader{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}
.navigation {
  display: inline-flex;
  justify-content: flex-end;
  padding: 30px;
  width: 60%;
}

.brand {
  font-size: 50px;
  
}
a {
    text-decoration: none;
}


#headerbutton {
    background-color: rgb(117, 117, 165);
    border-style: solid;
    height: 30px;
    width: 80px;
    text-align: center;
    margin-left: 3px;
}

.loggedout {
    display: inline-flex;
    flex-direction: row-reverse;
}

.link {
  margin-left: 30px;
  margin-right: 30px;
}