.profile-body {
    /* background-color: lightblue; */
    display:flex
}

.profile-info {
    /* background-color: lightcoral; */
    margin: 20px;

}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    object-fit: cover;
}


.task-column {
    /* background-color: lightgoldenrodyellow; */
    margin: 20px;
    
}

.dropdown {
    width: 120px;
}

.update-form {
    display:flex;
}

.task-button {
    border-style: none;
    background-color: rgb(196, 235, 232);
}

.likes-task-button {
    border-style: none;
    background-color: none;
}

.task-obj-no-like {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: rgb(196, 235, 232);
    padding: 5px;
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: lightseagreen;
    margin: 3px;
}

.task-row {
    display: flex;
}

.progress-title {
    display: flex;
    margin-left: 5px;
}

.new-task-column {
    display: flex;
    align-content: flex-end;
}