.profile-body {
    /* background-color: lightblue; */
    display:flex
}

.profile-info {
    /* background-color: lightcoral; */
    margin: 20px;

}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    object-fit: cover;
}


.task-column {
    /* background-color: lightgoldenrodyellow; */
    margin: 20px;
    
}

.dropdown {
    width: 120px;
}

.update-form {
    display:flex;
}

.task-button {
    border-style: none;
    background-color: none;
}