.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;

}
#indeximg {
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.name {
  margin: 10px;
  padding: 10px;
  min-width: 200px;
  text-align: center;
  font-weight: 100;
}


